.style-form {
    border: 2px solid #696969;
    width: 700px;
    padding-bottom: 50px;
    margin: 0 auto;
    /* padding-left: 100px; */
}

.main-doc {
    margin: 0 auto;
    padding-bottom: 50px;
}

.mainBut {

border-color: #696969;
padding: 20px 33px;
font-size: 20px;
background-color: #ffffff;
color: #696969;
border: 2px solid #696969;
display: block;
margin: 0 auto;

}

section {
    border: 2px solid #696969;
    width: 600px; 
    padding-left: 20px;
    margin: 0 auto;
}

section:not(:last-child){

    margin-bottom: 30px;
}

h1 {
    text-align: center;
}